@import '~susy/sass/susy';
@import url('https://fonts.googleapis.com/css?family=Poppins');

$susy: (
  'columns': susy-repeat(12)
);
.weatherDisplay {
  margin: 0 auto;
  margin-top: 2em;
  max-width: span(12);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &-items {
    flex: 0 0 100%;
    text-align: center;
    img {
      max-height: 400px;
      max-width: 300px;
    }
    p {
      color: white;
      font-family: 'Poppins', sans-serif;
      font-size: 2em;
      span:nth-child(1) {
        font-size: 0.5em;
      }
      span:nth-child(2) {
        cursor: pointer;
      }
    }
  }
}
