@import '~susy/sass/susy';
@import url('https://fonts.googleapis.com/css?family=Roboto');

$susy: (
  'columns': susy-repeat(14)
);

.dailyForecast {
  max-width: span(12);
  display: flex;
  margin: 0 auto;
  margin-top: 4em;
  flex-wrap: wrap;
  text-align: center;
  align-content: center;
  justify-content: space-between;
	padding-bottom: 5em;
	font-family: 'Roboto', sans-serif;

  &-item {
		width: span(2);
		background-color: white;
		border-radius: 1.6em;
  }
}
